<h1>Hello</h1>

<div>
    <br>
    <br>
    <ul style="list-style-type: none; text-align: center;">
        <li style="float: left;">
            <a class="btn btn-primary" href="/reg">Student Registration</a>
            &nbsp; &nbsp; &nbsp; &nbsp;
        </li>
        
        <li style="float: left;">
            <a class="btn btn-primary" href=" ">Student Dashboard</a>
        </li>
        <li style="float: left;margin-left: 40px;">
                <a class="btn btn-primary" href="/uploadimage ">Upload Image</a>
            </li>
    </ul>
    <br>
</div>
<!--<app-data-binding></app-data-binding>
<h2>good morning</h2>
<app-directory></app-directory>
<app-task></app-task>
<app-student-reg-form></app-student-reg-form>-->
<!-- <app-studentdashboard></app-studentdashboard> -->
<router-outlet></router-outlet>